<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/styles.css">
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
	<link rel="stylesheet" href="/home/shadowwarrior/PROJECTS/Cloud-project-/font-awesome-4.7.0/css/font-awesome.min.css">
	<title>AES DECRYPTION</title>
</head>
<body>
	<canvas id="locoalien"></canvas>
	<script type="text/javascript" src="./myscripts.js">
	</script>
	<!--loginwindow-->
	<div id="wrapper">
  <div id="loginWindow">
    <div class="page-header">
      <p class="left">
        <i class="fa fa-unlock" aria-hidden="true"></i>
      </p>
      <h1>TEXT DECRYPTION</h1>
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Cipher Text</span>
      <input type="text" class="form-control" placeholder="Enter text here" aria-describedby="basic-addon1" id="txt">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon2">Key</span>
      <input type="password" class="form-control" placeholder="Enter 16 character key" aria-describedby="basic-addon2" id="pass">
    </div>
    <button class="btn btn-primary" id="func" type="submit" onclick="submitData()">Submit</button>
    <span id='result'></span>
  </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>
<script>
		function submitData() {			
			let text = document.getElementById('txt').value;
			let pass = document.getElementById('pass').value;
			let result = document.getElementById('result')

			fetch('http://127.0.0.1:5000/decrypt', {
				method:'POST',
				headers:{
					'Content-type':'Application/json'
				},
				body:JSON.stringify({
					text,
					pass
				})
			}).then(res => res.json())
			.then(data => {
				result.innerHTML = data.result;
			})
			.catch(err => console.log(err));
		}


</script>
<!--loginwindow-->
</body>
</html>